<ul class="nav nav-pills flex-column">

  <li class="nav-item">
    <a class="nav-link" routerLink="/disponiveis" routerLinkActive="active"><i class="fas fa-rocket"></i>Veiculos disponiveis </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/vendidos" routerLinkActive="active"><i class="fas fa-user-friends"></i>Vendas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/todo/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> ADD </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active"><i class= "fas fa-plus-circle"></i>Relatorios TODO </a>
  </li>

</ul>
