<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input readonly type="text" name="id" [(ngModel)]="compraPraVenda.idCarro" placeholder="ID" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <textarea readonly name="descricao" [(ngModel)]="compraPraVenda.idCarro" placeholder="Descricao do venda" rows="2" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input readonly type="url" name="imagem" [(ngModel)]="compraPraVenda.valor_compra" placeholder="Imagem do venda" class="form-control">
        </div>

        <div class="form-group" *ngFor = "let ts of t">
          <!-- FIX ME PLZ -->
          <!-- <textarea readonly name="" [(ngModel)]="ts.id" placeholder="" rows="2" class="form-control"></textarea> -->
        </div>

        <button class="btn btn-success btn-block" (click)="saveNewVenda()">
           Finalizar
        </button>
      </form>
    </div>
  </div>
</div>

