
<div class="col-md-4" *ngFor = "let veiculoDisponivel_compra of veiculosDisponiveis">
  <div class="card">
    <div class="card-header">
      <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
    </div>
    <div class="card-body" >
      <span class="tag tag-teal">DISPONIVEL!!! UAU</span>
      <h4>
      {{veiculoDisponivel_compra.modelo}}
      </h4>
      <li>
      Valor da compra: {{veiculoDisponivel_compra.valor_compra}} 
      </li>
      <li>
      Ano: {{veiculoDisponivel_compra.ano_fabric }} <!-- may fix this to compatible data format !! -->
      </li>
      <li>
      Marca: {{veiculoDisponivel_compra.marca}}
      </li>
      <li>
      Cor: {{veiculoDisponivel_compra.cor}}
      </li>
      <li>
      Placa: {{veiculoDisponivel_compra.placa}}
      </li>
      <li>
      Chassi: {{veiculoDisponivel_compra.chassi}}
      </li>
      <li>
      Data compra: {{veiculoDisponivel_compra.data_compra | date:'dd-MM-yyyy'}}
      </li>
      <br>

      <a [routerLink]="['/vender/regis', veiculoDisponivel_compra.idCompra]" class="btn btn-info btn-block">
        VENDER!!! lets get rich mf.
      </a>
    </div>
  </div>